<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chef.name %>
</p>

<p>
  <b>Username:</b>
  <%= @chef.username %>
</p>

<p>
  <b>Rating:</b>
  <%= @chef.rating %>
</p>

<p>
  <b>Location:</b>
  <%= @chef.location %>
</p>

<p>
  <b>Bio:</b>
  <%= @chef.bio %>
</p>

<p>
  <b>Specialty:</b>
  <%= @chef.specialty %>
</p>


<%= link_to 'Edit', edit_chef_path(@chef) %> |
<%= link_to 'Back', chefs_path %>
