<%- model_class = Chef -%>

<div class="container-fluid">
<header class="row-fluid hdr">
      <div class="span4 header-l">
         <a href="#"><img src="/images/logo.png"/></a>
        </div>
        
        
        
        <div class="span8 header-r">
          <div class="dropdown pull-left">
         <div class="strong-txt img-drp">All San Francisco</div>
        </div>
      
          <div class="pagntn img-arw pull-right">
           <div class="strong-txt"> page 1 <span class="gray">of 5</span></div>
       
        </div>
        </div>
      
    </header>

<div class="row-fluid index">
  <div class="span4 single-thumb visible-desktop visible-tablet">
    <div class="thumbnail">
      <img src="/images/left-img.png">
    </div>
    <h1>Louisa Shafia</h1>
    <h3>New York</h3>
    <div class="rating"><img src="/images/Untitled-4_35.png"/><b class="rating-txt">82 reviews</b> </div>
    <p class="detail">I have a day job at Google as an engineer. My passion is to cook and share the food i make with the other people.</p>
    
  </div>
    
    
  <div class="span4 single-thumb-mob visible-phone">
    <div class="thumbnail">
      <img src="/images/left-img.png">
    </div>
    <h1>Louisa Shafia</h1>
    <h3>New York</h3>
    <div class="rating"><img src="/images/Untitled-4_35.png"/><b class="rating-txt">82 reviews</b> </div>
    <p class="detail">I have a day job at Google as an engineer. My passion is to cook and share the food i make with the other people.</p>
    
  </div>
    
    
  <div class="span8">
   <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb1.png" alt="img1"/>                   
            </article>
             <div class="row-fluid thumb-desc">
                <div class="span8 description">Almost Cheeseless Berry Muffins</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
        <li class="span4">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb2.png" alt="img2"/>                   
            </article>
            <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
        <li class="span4">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb3.png" alt="img3"/>                   
            </article>
              <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
        <li class="span4 stay-left">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb4.png" alt="img4"/>                   
            </article>
            <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
        <li class="span4">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb5.png" alt="img5"/>                   
            </article>
              <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
           <li class="span4">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb6.png" alt="img6"/>                   
            </article>
              <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
        
         <li class="span4 stay-left">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb1.png" alt="img1"/>                   
            </article>
            <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
        <li class="span4">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb2.png" alt="img2"/>                   
            </article>
              <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
           <li class="span4">
          <article class="thumbnail">
              <img src="/images/chefs/carina/dishes/thumb3.png" alt="img3"/>                   
            </article>
              <div class="row-fluid thumb-desc">
                <div class="span8 description">text here</div>
                <div class="span4 price">$14</div>
             </div>
        </li>
        
      
    </ul>
</div>

  <footer class="span12">
    
  </footer>

</div>

<!--
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @chef.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @chef.username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
  <dd><%= @chef.rating %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @chef.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bio) %>:</strong></dt>
  <dd><%= @chef.bio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specialty) %>:</strong></dt>
  <dd><%= @chef.specialty %></dd>
</dl>
-->
<!--
<div class="row-fluid index">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              chefs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_chef_path(@chef), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              chef_path(@chef),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
-->
</div>