<%= form_for @dish, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desription, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desription, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ingredients, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ingredients, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diet_flags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diet_flags, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cuisine, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cuisine, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :chef_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :chef_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dishes_path, :class => 'btn' %>
  </div>
<% end %>
