<%= form_for(@dish) do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desription %><br />
    <%= f.text_field :desription %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_field :ingredients %>
  </div>
  <div class="field">
    <%= f.label :diet_flags %><br />
    <%= f.text_field :diet_flags %>
  </div>
  <div class="field">
    <%= f.label :cuisine %><br />
    <%= f.text_field :cuisine %>
  </div>
  <div class="field">
    <%= f.label :chef_id %><br />
    <%= f.number_field :chef_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
