<%= form_for(@availability) do |f| %>
  <% if @availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% @availability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :initial_amount %><br />
    <%= f.number_field :initial_amount %>
  </div>
  <div class="field">
    <%= f.label :remaining_amount %><br />
    <%= f.number_field :remaining_amount %>
  </div>
  <div class="field">
    <%= f.label :expires_on %><br />
    <%= f.date_select :expires_on %>
  </div>
  <div class="field">
    <%= f.label :belongs_to %><br />
    <%= f.number_field :belongs_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
