<%= form_for @availability, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :initial_amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :initial_amount, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :remaining_amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :remaining_amount, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expires_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :expires_on, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dish_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :dish_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :starts_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :starts_on, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                availabilities_path, :class => 'btn' %>
  </div>
<% end %>
